*{margin: 0;padding: 0;}
body{
    overflow-x: hidden;
}
#banner {
    width: 100%;
    max-height: 300px;
    position: relative;
    /*background: #F5F5F5;*/
    border-bottom: solid 1px #FFF;
    top: 10px
}

#banner #banner_img {
    width: 100%;
    max-width: 1000px;
    height: 300px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    background-image: url(http://www.xuanfengge.com/wp-content/themes/lee2.0/images/banner/banner_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .banner_img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    background: #FFF;
}

#banner .banner_img li {
    display: none;
    margin: 0 auto;
    text-align: center
}

#banner .banner_img li img {
    width: 100%
}

#banner .banner_img li.current {
    display: block
}

.banner_navi {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: 0 0;
    filter: alpha(opacity=50);
    z-index: 8888
}

.banner_navi .banner_center {
    width: 140px;
    height: 20px;
    margin: 10px auto 0
}

.banner_navi .banner_center a {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    border-radius: 14px;
    margin: 0 5px;
    line-height: 30px;
    font-size: 28px;
    font-family: arial;
    background: #fff;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.banner_navi .banner_center a:hover {
    background: #39c
}

.banner_navi .banner_center .current {
    width: 28px;
    background: #39c
}

.dotCanvas {
    position: absolute;
    top: 10px;
    right: 15%;
    width: 12px;
    height: 12px;
    overflow: hidden
}

div.banner_tool span {
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    top: 50%;
    text-indent: -9999px!important;
    margin-top: -35px;
    cursor: pointer;
    background-repeat: no-repeat
}

div.banner_tool>span {
    margin-top: 0;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}

div.banner_tool span.banner_next,div.banner_tool span.banner_next span,div.banner_tool span.banner_prev,div.banner_tool span.banner_prev span {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px
}

div.banner_tool span.banner_next {
    background-color: #27CFC3;
    top: 50%;
    margin-top: -25px;
    background-position: -184px -70px;
    right: 0
}

div.banner_tool span.banner_prev {
    background-color: #27CFC3;
    left: 0;
    top: 50%;
    margin-top: -25px;
    background-position: -100px -70px
}

div.banner_tool span.banner_next span.banner_white {
    opacity: 0;
    filter: alpha(opacity=0);
    top: 35px;
    right: 0;
    position: absolute;
    background-position: -184px -147px
}

div.banner_tool span.banner_prev span.banner_white {
    opacity: 0;
    filter: alpha(opacity=0);
    top: 35px;
    right: 0;
    position: absolute;
    background-position: -100px -147px
}
.banner_next, .banner_prev, .banner_shadow, .banner_white{
    background-image: url(http://www.xuanfengge.com/wp-content/themes/lee2.0/images/icon.png);
    background-repeat: no-repeat;
}
@media only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution: 144dpi) {
    div.banner_tool span.banner_next,div.banner_tool span.banner_next span.banner_white,div.banner_tool span.banner_prev,div.banner_tool span.banner_prev span.banner_white {
        background-size:140px 133px!important;
        -webkit-background-size: 140px 133px!important;
        -moz-background-size: 140px 133px!important
    }
}

div.banner_tool span.banner_next:hover span.banner_white,div.banner_tool span.banner_prev:hover span.banner_white {
    opacity: 1;
    filter: alpha(opacity=100)
}

div.banner_tool span span.banner_shadow {
    display: block;
    top: 91px;
    right: 0;
    height: 7px;
    position: absolute;
    width: 56px
}

div.banner_tool span.banner_prev span.banner_shadow {
    background-position: -74px -473px
}

div.banner_tool span.banner_next span.banner_shadow {
    background-position: -158px -473px
}
